label.required { color: #000; }
ul.errors li { padding: 10px 10px 0 10px; color: red; }

.login_sign:hover { background: #ff6517; }


.main-content-login{
margin-left: 250px;
padding: 20px;
flex: 1 1;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}